.bootstrap-wrapper{
    /* background: #F7F8F9 !important; */

    padding-bottom: 20px !important;
}
.whole-container, .whole-container h1,.whole-container h2,.whole-container h3,.whole-container h4,.whole-container h5,.whole-container h6,.whole-container p, .whole-container input[type], .whole-container textarea{
    font-family: inherit;
    color: #000;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.bottomline-parent {
	margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 10px !important;
}
.whole-container *{
    margin: 0;
    padding: 0;
}

.whole-container a{
    text-decoration: none !important;
    /* padding: 0 !important; */
    margin: 0 !important;
}
.whole-container a:active, .whole-container a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.whole-container a:hover{
    text-decoration: none;
}
 .whole-container a img{
     margin: 0;
 }
 .whole-container .result-parent p{
     padding: 0;
     margin: 0;
     color: #000;
 }
 .whole-container .result-parent h4{
     margin: 0;
     margin-bottom: 10px;
     padding: 0;
     font-size: 16px;
 }

 .post-content p, .search-results p, .main-content-wrapper p{
     color: #000 !important;
 }
/*############################## RESULT ###################*/
.item{
    /* border: 1px solid red; */
    margin-bottom: 30px !important;
    height: 220px !important;
    border-radius: 6px !important;

    /* border: 1px solid red; */
    padding-right: 10px !important;    
	box-shadow: 0px 10px 25px 0 rgb(0 0 0 / 15%) !important;
}
.item:hover {
    box-shadow: 0px 10px 25px 0 rgb(0 0 0 / 20%) !important;
}
.dirpro-list-img{
    /* border: 1px solid black; */
    width: 40% !important;
    height: 100% !important;
    float: left;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    overflow: hidden !important;
    position: relative !important;
}

.fav-heart{
    z-index: 2;
    position: absolute;
    top: 13px;
    right: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}
.feature-text{
    position: absolute !important;
    top: 15px !important;
    left: 15px !important;
    background: green !important;
    z-index: 2 !important;
	color: #fff !important;
	border-radius: 2px !important;
	font-size: 10px !important;
	padding: 4px 7px 3px !important;
	text-transform: capitalize !important;
	margin-bottom: 5px !important;
	line-height: 11px !important;
	font-weight: 700 !important;
	height: 18px !important;
	background-color: #54c4d9 !important;
}

.img{
    width: 100% !important;
    height: 220px !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    /* position: absolute; */
    object-fit: cover;
    object-position: center center;
}


.whole-container .list-content{
    /* border: 1px solid black; */
    width: 60%;
    height: 100%;
    float: right;
    padding: 20px 25px;
}
.list-content-no-image{
    /* border: 1px solid black; */
    width: 98%;
    height: 100%;
    float: right;
    padding: 20px 25px;
}

.clearboth{
    clear: both;
}

.star-icons i{
    /* border: 1px solid red; */
    /* margin-left: 70%; */
    color: #000;
}

.name{
    font-size: 16px;
    font-weight: 900;
    color: #000 !important;
    text-transform: capitalize !important;
    letter-spacing: 0 !important;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 43px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tags{
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #000 !important;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    line-height: 20px !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category{
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #000 !important;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 20px !important;
    margin: 0 auto;
    line-height: 20px !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tags i, .category i{
    color: gray !important;
}
.author-star{
    /* border: 1px solid green; */
    margin: 10px 0 10px 0 !important;
    font-size: 14px !important;
    line-height: normal !important;
}

.client-contact{
    margin: 10px 0 !important;
}

.whole-container .call, .whole-container .email, .whole-container .sms, .whole-container .mcall,.whole-container .details,.whole-container .web{
    border: 1px solid gray;
    padding: 5px 18px;
    /* margin-right: 10px; */
    border-radius: 3px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px !important;
}
.sms{
    background: gray;
}
.mcall{
    display: none;
    background: gray;
    border: 1px solid gray;
}
.sms{
    display: none;
}
.mcall a, .sms a{
    text-decoration: none;
}

.details a, .web a {
	color: #000 !important;
}

.client-contact .call{
    background: gray;
    color: #fff;
    border: 1px solid gray;
}
.client-contact span:hover{
    cursor: pointer;
}
.number{
    background: transparent;
    border: none;
    font-weight: 700;
}

.bootstrap-tagsinput{
    /* border: 1px solid red !important; */
    width: 100% !important;
    min-height: 40px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    font-size: 15px !important;
    outline-color: blue;
    /* font-family: 'Quicksand', sans-serif !important; */
    margin: 0 !important;
    padding: 0 !important;
}

.bootstrap-tagsinput input{
    min-width: 239px !important;
    min-height: 40px !important;
    /* border: 1px solid red !important; */
    font-size: 14px !important;
    border: 0px solid #fff !important;
}


.label-info{
    background: #ddd !important;
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin-left: 20px !important;
}
.tt-input{
    width: 100% !important;
    margin: 0 !important;
}

.tt-dataset{
    background: #fff;
}

.tt-suggestion{
    border-top: 1px solid #eee !important;
    width: 250px !important;
    /* margin-bottom: 8px; */
    padding: 10px 25px;
    cursor: pointer;
    color: #000;
}
.tt-suggestion:hover{
    background: #eee;
}

#showmorebutton{
    padding: 10px 25px !important;
    /* background: rgb(241, 94, 117); */
    background: gray;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#showmorebutton:hover{
    background: gray;
    cursor: pointer;
}



/*############################# FACET SEARCH ######################################*/
.whole-container .facet-parent{
    margin-top: 80px;
    /* padding: 0; */
    position: static !important;
    border-radius: 6px !important;
    /* border: 1px solid red; */
    /* min-height: 1080px !important; */
    /* height: 1080px;
    max-height: auto; */
}


.whole-container .result-parent{
    padding-right: 0 !important;
    padding-bottom: 30px !important;
}
 .whole-container #results{
    /* border: 1px solid red; */
    margin-top: 80px;
}
.whole-container #facets{
    padding: 20px 0;
}


.whole-container .facettitle{
    padding: 0 !important;
    font-size: 17px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .whole-container .down{
    visibility: visible;
    margin: 0 !important;
}

.whole-container .up{
    visibility: hidden;
    margin-left: -15px !important;
}


.whole-container .bottomline-parent{
    position: relative !important;
    /* border: 2px solid red; */
}

.facettotalcount, .orderby, .bg{
    /* border: 1px solid red; */
    position: absolute !important;
    top: 0 !important;
}

.bg{
    /* border: 1px solid red; */
    left: 0 !important;
    height: 70px !important;
    width: 100% !important;
    z-index: 1 !important;

}

.orderby{
    right: 20px !important;
    z-index: 2 !important;
    padding-top: 10px !important;
}
.facettotalcount{
    left: 20px !important;
    z-index: 2 !important;
    color: #000 !important;
    padding: 10px 20px !important;
    margin-top: 10px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
}

.dropdown-toggle, .dropdownMenu2, button {
    /* width: 133px !important; */
    position: relative;
}

.dropdown-toggle::after {
	content: " ";

}

.orderbyitem{
    padding-left: 20px;
}

.orderbyitem:hover{
    cursor: pointer;
}

.whole-container .deselectstartover{
    /* border: 1px solid red; */
    padding: 10px 25px;
    background: gray;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px !important;
    cursor: pointer;
	border-radius: 3px !important;
}
.deselectstartover:hover{
    cursor: pointer;
}

input[type=checkbox] {
    /* margin-top: 6px !important; */
    padding: 0 !important;
    /* margin: 0 !important; */
    margin-right: 5px !important;
}

.facetitem{
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 !important;
    height: 20px;
    display: flex;
    align-items: center;
}
.facetitem:hover{
    cursor:pointer;
}

.activeorderby, .activefacet {
       color: gray !important;
       font-weight: 700 !important;
}

.activefacet input[type="checkbox"] {
	display: none !important;
}

.activefacet .tick::before {
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   content: "\f14a";
   margin-right: 4px !important;
 }

 input{
     width: auto !important;
 }
 .search-box{
     outline: none !important;
     border: 0 !important;
 }
.input-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="text"]{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    /* font-family: 'Quicksand', sans-serif !important; */
    height: 40px !important;
    width: 100% !important;
    font-size: 14px !important;
}
input[type="submit"]{
    background: gray !important;
    border: none !important;
    height: 40px !important;
    width: 100% !important;
    color: #fff !important;
    text-transform: capitalize !important;
    padding: 5px !important;
    margin-top: 10px !important;
    font-size: 14px !important;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
  z-index: 2;
  font-size: 20px;
}

/* align glyph */
.left-addon .glyphicon{
    left:  0px;
    padding: 5px 5px;
}
.right-addon .glyphicon{
    left: 0px;
    padding: 5px 5px !important;
}

/* add padding  */
.left-addon input{
    padding-left:  30px !important;
    margin: 0 !important;
    /* font-family: 'Quicksand', sans-serif !important; */
}
.right-addon input{
    padding-left: 26px !important;
    /* padding-top: 3px !important; */
    margin: 0 !important;
    /* font-family: 'Quicksand', sans-serif !important; */
}

.facetlist{
    /* border: 1px solid red; */
    overflow-y: scroll;
    max-height: 180px;
    width: 100%;
    display: none;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 0;
}

#category .facetlist{
    display: block;
}

#location .facetlist{
    display: block;
}


.tt-input{
    /* font-family: 'Quicksand', sans-serif !important; */
}
.facettitle:hover{
    cursor: pointer;
}


.facetlist::-webkit-scrollbar {
    width: 12px !important;
}

/* Track */
.facetlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.facetlist::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.facetlist::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.image-overlay .image-overlay-inside {
	height: ;
	width: ;
	position: ;
	left:  ;
	top: ;
}

.image-overlay{
    display: block !important;
}
#dropdownMenuButton{
    background: gray !important;
    color: #fff !important;
    font-size: 14px !important;
    border: none !important;
}
.orderby ul{
    list-style: none !important;
    font-size: 14px !important;
}
.orderby ul li{
    width: 100% !important;
    font-size: 14px !important;
}

.filter{
    background: #eee;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
    text-transform: capitalize;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.bootstrap-tagsinput .tag [data-role="remove"]{
    margin-left: 0 !important;
}

.bootstrap-tagsinput .tag [data-role="remove"]::after {
	content: "X";
    position: absolute;
    top:5%;
    left: 90%;
    font-size: 18px;
    font-weight: 500;
    color: #c3c3c3;
}


@media (min-width: 481px) and (max-width: 767px) {
    .result-parent{
        padding-left: 0 !important;
        /* border: 1px solid red !important; */
    }
    .item{
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  .result-parent{
      padding-left: 0 !important;
  }
  .item{
      height: auto !important;
      padding: 0 !important;
      margin: 0 !important;
      margin-bottom: 20px !important;
  }
  .dirpro-list-img{
      width: 100% !important;
      float: none !important;
  }

  .list-content{
      width: 100% !important;
      float: none !important;
  }

  .dirpro-list-img{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0 !important;
  }
  .img{
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 0 !important;
      height: 200px !important;
      margin: 0 !important;
  }
  .call{
      margin-right: 0;
  }
  .client-contact a{
      text-decoration: none;
      color: #fff;
  }
  .filter{
      visibility: visible;
  }
  #facets{
      display: none;
  }
  .facet-parent{
      padding-bottom: 20px;
  }

  .facettotalcount{
      display: block !important;
      font-size: 14px !important;
  }
  .call{
      display: none;
  }
  .number{
      display: none;
  }
  .mcall{
      display: block;
  }
  .sms{
      display: block;
  }

  .client-contact{
      display: flex;
      justify-content: space-between;
  }

}


.ui-autocomplete-input-has-clear {
  padding-right: 30px;
}

.ui-autocomplete-input-has-clear::-ms-clear {
   display: none;
}

.ui-autocomplete-clear {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}


.off-white{
    color: gray !important;
}

.half-off-white{
    color: gray !important;
}


/* tweenty sixteen dropdown caret size  */
.dropdown-toggle::after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 0;
    top: 6px;
	position: relative;
    width:  10px !important;
}
.blankp{
	height: 20px;
}



/******************** auto complete of listing 5  ************* */
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #fff !important;
	color: #222222;
    z-index: 2222222222;
    height: 250px;
    overflow: scroll;
    font-size: 10px;
}

.ui-widget {
	/* font-family: 'Quicksand', sans-serif !important; */
	font-size: 1.1em;
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	float: left;
}

.ui-autocomplete {
	position: relative !important;
	cursor: default;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
    font-size: 13px;
}

.ui-autocomplete-category{
    font-size: 14px;
    font-weight: 700;
}


/*############ mobile landscape ################ */

@media (min-width: 481px) and (max-width: 812px) {
    .result-parent{
        padding-left: 0 !important;
    }
    .item{
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }
    .dirpro-list-img{
        width: 100% !important;
        float: none !important;
    }

    .list-content{
        width: 100% !important;
        float: none !important;
    }

    .dirpro-list-img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0 !important;
    }
    .img{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0 !important;
        height: 200px !important;
        margin: 0 !important;
    }
    .call{
        margin-right: 0;
    }
    .client-contact a{
        text-decoration: none;
        color: #fff;
    }
    .filter{
        visibility: visible;
    }
    #facets{
        display: none;
    }
    .facet-parent{
        padding-bottom: 20px;
    }

    .facettotalcount{
        display: block !important;
        font-size: 14px !important;
    }
    .call{
        display: none;
    }
    .number{
        display: none;
    }
    .mcall{
        display: block;
    }
    .sms{
        display: block;
    }

    .client-contact{
        display: flex;
        justify-content: space-between;
    }

}
